<div class="reg-page">
  <h1>Registration</h1>
   <form [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
     <div>
       <div class="field field-email">
         <label for="login">Login:</label>
         <input formControlName="login" required type="text">
       </div>
       <div class="field field-item">
         <label for="name">Name:</label>
         <input formControlName="name" required type="text">
       </div>
       <div class="field field-item">
        <label for="name">Password:</label>
        <input formControlName="password" required type="password">
      </div>
     </div>
     <!-- <button (ngSubmit)="onSubmit()">Log in</button> -->
     <div class="btns">
      <button>Submit</button>
      <a routerLink="/login">Back to Log in</a>
     </div>
   </form>
</div>